.main{
    display: block;
    text-align: center;
    height: 70vh;

    img {
        padding-top: 25px;
        margin: auto;
        width: 50%;
        height: 52vw;
        border-radius: 50%;
        object-fit: cover;
        margin: 20px
    }

    .main__div {
        color: $white;
        font-size: 40px;
        text-align: center;
        padding: 10px;
        white-space: nowrap;
    }
}

@media (min-width: 768px) and (max-width: 1024px){
    .main{
        display: flex;
        flex-direction: row;
        height: 15vh;
        padding: 10%;
        padding-top: 10vh;

        img {
            width: 30%;
            height: 25vw;
            margin: 10px;
        }

        .main__div {
            margin: auto;
            vertical-align: middle;
            font-size: 50px;
            position: relative;
        }
    }
}

@media (min-width: 1024px){
    .main{
        display: flex;
        flex-direction: row;
        height: 55vh;
        padding: 10%;
        padding-top: 20vh;

        img {
            width: 35%;
            height: 27vw;
            margin: 15px;
        }

        .main__div {
            margin: auto;
            vertical-align: middle;
            font-size: 60px;
            position: relative;
        }
    }
}